<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}
        
    {% endblock %}
</head>
<body>
    <header>
        <a href="{{ url_for('index' ) }}">Volte para a sessão principal</a>
        <a href="{{ url_for('cadastro' ) }}">Faça o seu cadastro!</a>
        <a href="{{ url_for('login' ) }}">Já é cadastrado? Faça o Login</a>
        <a href="{{ url_for('logout' ) }}">Deseja sair? Faça o Logout</a>
    </header>
    {% block content %}
        
    {% endblock %}
</body>
</html>