{% extends "base.html" %}

{% block title %}
    Faça o seu login!
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <main>
        <h1>Faça o seu login!</h1>

        <form action="{{ url_for('login' ) }}" method="post">
            <label for="nome">Digite seu nome:</label>
            <input type="text" name="nome" id="nome" required>
            <label for="email">Digite seu e-mail:</label>
            <input type="email" name="email" id="email" required>
            <label for="senha">Digite sua senha:</label>
            <input type="password" name="senha" id="senha" required>
            <input type="submit" value="Fazer login">
        </form>
    </main>
{% endblock %}